

    


    <mat-card>
        <mat-card-content>
          <h2>Admins</h2>
          <button mat-button (click)="openDialog()">Open dialog</button>
           <!-- <button class="btn btn-primary" routerLink="/signup">Add Users</button>&nbsp;            -->
              
              <table mat-table [dataSource]="adminDatasource" class="mat-elevation-z8 demo-table mt-5" >
              
                <ng-container matColumnDef="demo-fullname">
                  <th mat-header-cell *matHeaderCellDef>Full Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                  
                </ng-container>
              
                <ng-container matColumnDef="demo-email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                
                <ng-container matColumnDef="demo-username">
                  <th mat-header-cell *matHeaderCellDef> Username</th>
                  <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
              
               
                <ng-container matColumnDef="demo-password">
                  <th mat-header-cell *matHeaderCellDef> Password</th>
                  <td mat-cell *matCellDef="let element"> ....... </td>
                </ng-container>


                <ng-container matColumnDef="demo-role">
                  <th mat-header-cell *matHeaderCellDef>Role</th>
                  <td mat-cell *matCellDef="let element">{{element.role}}</td>
                </ng-container>

                <ng-container matColumnDef="demo-companyName">
                  <th mat-header-cell *matHeaderCellDef>companyName</th>
                  <td mat-cell *matCellDef="let element">--</td>
                </ng-container>

                <ng-container matColumnDef="demo-delete">
                  <th mat-header-cell *matHeaderCellDef > Delete User </th>
                  <td mat-cell *matCellDef="let element"> <button class="btn btn-danger" (click)="deleteUser(element._id)">Delete</button>&nbsp;<button class="btn btn-success" (click)="updateUser(element._id)">Update</button> </td>
                  
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

            
        </mat-card-content>
    </mat-card><br>
    <mat-card class="col-3">
      <mat-card-content>
    <form>
      <h3>Select Company Name</h3>
      <mat-form-field appearance="fill">
        <mat-label>Select Company Name</mat-label>
        <mat-select [(ngModel)]="selectedCompanyName" name="food">
          <mat-option *ngFor="let user of allUserData" [value]="user.companyName" (click)="getCompanyName(user.companyName)">
            {{user.companyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form><br>
  </mat-card-content>
</mat-card><br>

    <mat-card *ngIf="managerDataSource">
      <mat-card-content>
        <h2 >Managers</h2>
       
            
            <table mat-table [dataSource]="managerDataSource" class="mat-elevation-z8 demo-table mt-5" >
            
              <ng-container matColumnDef="demo-fullname">
                <th mat-header-cell *matHeaderCellDef>Full Name</th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                
              </ng-container>
            
              <ng-container matColumnDef="demo-email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              
              <ng-container matColumnDef="demo-username">
                <th mat-header-cell *matHeaderCellDef> Username</th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>
            
             
              <ng-container matColumnDef="demo-password">
                <th mat-header-cell *matHeaderCellDef> Password</th>
                <td mat-cell *matCellDef="let element"> ....... </td>
              </ng-container>

              

              <ng-container matColumnDef="demo-role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">{{element.role}}</td>
              </ng-container>
              
              <ng-container matColumnDef="demo-delete">
                <th mat-header-cell *matHeaderCellDef > Delete User </th>
                <td mat-cell *matCellDef="let element"> <button class="btn btn-danger" (click)="deleteUser(element._id)">Delete</button>&nbsp;<button class="btn btn-success" (click)="updateUser(element._id)">Update</button> </td>
                
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            
          
      </mat-card-content>
  </mat-card>
 
    <mat-card *ngIf="managerDataSource">
      <mat-card-content>
        <h2 >Users</h2>
      
            <table mat-table [dataSource]="userdataSource" class="mat-elevation-z8 demo-table mt-5" >
              
              <ng-container matColumnDef="demo-fullname" >
                <th mat-header-cell *matHeaderCellDef>Full Name</th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                
              </ng-container>
            
              <ng-container matColumnDef="demo-email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              
              <ng-container matColumnDef="demo-username">
                <th mat-header-cell *matHeaderCellDef> Username</th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>
            
             
              <ng-container matColumnDef="demo-password">
                <th mat-header-cell *matHeaderCellDef> Password</th>
                <td mat-cell *matCellDef="let element"> ....... </td>
              </ng-container>


              <ng-container matColumnDef="demo-role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">{{element.role}}</td>
              </ng-container>

              
              
              <ng-container matColumnDef="demo-delete">
                <th mat-header-cell *matHeaderCellDef > Delete User </th>
                <td mat-cell *matCellDef="let element"> <button class="btn btn-danger" (click)="deleteUser(element._id)">Delete</button>&nbsp;<button class="btn btn-success" (click)="updateUser(element._id)">Update</button> </td>
                
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>
         
          
      </mat-card-content>
  </mat-card>
    <br><br>
                    

