<div class="container">
<mat-card class="d-flex justify-content-center col-6 mx-auto">
    <mat-card-content>
      <div class="signup-form" >
        <h2 class="form-title">Add Site</h2>
        <form  [formGroup]="sites" (ngSubmit)="saveSite()">
          <div class="mb-3 mt-3">
            <label  class="form-label">Name of Site</label>
            <input  type="text"  class="form-control" formControlName="siteName">
          </div>
          
          
          <button type="submit" class="btn btn-primary">Save Site</button>
        </form>
       
    </div>  
    
    </mat-card-content>
  </mat-card><br>
      <h1>Sites</h1><br>
    <mat-card >
      <mat-card-content>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Sites</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let site of ManagerSites; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{site.siteName}}</td>
              <td><button class="btn btn-primary" (click)="assignSite(site)">Assign Site </button>&nbsp;<button class="btn btn-primary" >show Data</button>&nbsp;<button class="btn btn-danger" (click)="deleteSite(site._id)">Delete</button></td>
            </tr>
                    </tbody>
        </table>
      
      </mat-card-content>
    </mat-card><br>
    
    <mat-card *ngIf="assigningSite">
      <mat-card-content>
    <h3>Assign Sites to User</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Full Name</th>
          <th scope="col">Username</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allUserData; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{data.fullName}}</td>
          <td>{{data.username}}</td>
          <td><button class="btn btn-primary" (click)="addSiteToUser(data._id,data.username)">Assign</button>&nbsp;</td>
        </tr>
                </tbody>
    </table>
      </mat-card-content>
    </mat-card><br>
  
   </div>