<div class="container">
<mat-card class="d-flex justify-content-center col-6 mx-auto">
    <mat-card-content>
      <div class="signup-form" >
        <h2 class="form-title">Add Site to {{this.userName}}</h2>
        <form  [formGroup]="sites" (ngSubmit)="saveSite()">
          <div class="mb-3 mt-3">
            <label  class="form-label">Name of Site</label>
            <input  type="text"  class="form-control" formControlName="siteName">
          </div>
          
          
          <button type="submit" class="btn btn-primary">Save Site</button>
        </form>
       
    </div>  
    
    </mat-card-content>
  </mat-card><br>

    <h1>{{this.userName}}'s' Sites</h1><br>
    <mat-card >
      <mat-card-content>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Sites</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let site of allUserSites; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{site.siteName}}</td>
              <td><button class="btn btn-primary" (click)="getSitebyUserName()">show Data</button>&nbsp;<button class="btn btn-danger" (click)="deleteSite(site._id)">Delete</button></td>
            </tr>
                    </tbody>
        </table>
      
      </mat-card-content>
    </mat-card><br>
    
    <mat-card *ngIf="selectedSitedata">
      <mat-card-content>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Site per Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of selectedSitedata; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{data.date|date: 'dd-MM-yyyy'}}</td>
          <td><button class="btn btn-primary">show Data</button>&nbsp;<button class="btn btn-danger" (click)="deleteByDates(data._id)">Delete</button></td>
        </tr>
                </tbody>
    </table>
      </mat-card-content>
    </mat-card><br>
  
   </div>