/* You can add global styles to this file, and also import other style files */
/* @import '~@nebular/theme/styles/prebuilt.css'; */


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e1b382;
    /* background-color:#c89666; ; */
    /* background-image: url("./assets/img/about.jpg");
    background-repeat: no-repeat;
    background-size:cover; */
    /* background-image: url("./assets/img/background1.jpg"); */
    }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~bootstrap/dist/css/bootstrap.min.css';

.container{
/* background-image: url("./assets/img/background1.jpg"); */
/* background-color: #12343b; */
background-color: #2d545e;
margin-top: 25px;
border-radius: 10px;
box-shadow: 0 0 10px #12343b;
}
